@charset "utf-8";

.future-wrap {
}
.future-wrap .section {
    display: flex;
    justify-content: space-between;
    padding: 150px 60px 90px;
    flex-wrap: wrap;
}
.future-wrap .section .text {
    padding: 38px 0 0;
    width: 720px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.future-wrap .section .text .eng {
    margin-bottom: 45px;
    line-height: 1;
    font-size: 80px;
    font-weight: 700;
    color: #5c6266;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.026em;
}
.future-wrap .section .text .txt {
    margin-bottom: 15px;
    line-height: 1.32;
    font-size: 15px;
    font-weight: 400;
    color: #5c6266;
}
.future-wrap .section .text .because {
    margin-top: auto;
    width: 430px;
    max-width: 100%;
    letter-spacing: -0.02em;
}
.future-wrap .section .text .because dt {
    line-height: 1.2;
    font-size: 28px;
    font-weight: 400;
    color: #5c6266;
}
.future-wrap .section .text .because dd {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    color: #5c6266;
}
.future-wrap .section .image {
    width: 800px;
}
.future-wrap .section .image ul {
    display: flex;
    flex-wrap: wrap;
}
.future-wrap .section .image li {
    position: relative;
    width: 50%;
    aspect-ratio: 500/400;
    background: #ededed;
}
.future-wrap .section .image li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b2e2a4;
    opacity: 0.65;
    transition: all 300ms;
}
.future-wrap .section .image li:hover:before {
    opacity: 0;
}
.future-wrap .section .image li:nth-child(1) {
    width: 100%;
    height: auto;
    aspect-ratio: 990/450;
}
.future-wrap .section .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .future-wrap {
    }
    .future-wrap .section {
        padding: 100px 30px 40px;
    }
    .future-wrap .section .text {
        padding: 24px 0 0;
        width: 100%;
    }
    .future-wrap .section .text .eng {
        margin-bottom: 30px;
        line-height: 1.2;
        font-size: 60px;
    }
    .future-wrap .section .text .txt {
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 15px;
        word-break: keep-all;
    }
    .future-wrap .section .text .txt br {
        display: none;
    }
    .future-wrap .section .text .because {
    }
    .future-wrap .section .text .because dt {
        line-height: 1.5;
        font-size: 20px;
    }
    .future-wrap .section .text .because dd {
        margin-top: 8px;
        line-height: 1.5;
        font-size: 14px;
    }
    .future-wrap .section .image {
        width: 1000px;
    }
    .future-wrap .section .image ul {
        display: flex;
        flex-wrap: wrap;
    }
    .future-wrap .section .image li {
        width: 50%;
        aspect-ratio: 500/400;
        background: #ededed;
    }
    .future-wrap .section .image li:nth-child(1) {
        width: 100%;
        height: auto;
        aspect-ratio: 990/450;
    }
    .future-wrap .section .image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .future-wrap {
    }
    .future-wrap .section {
        padding: 40px 20px;
    }
    .future-wrap .section .text {
        padding: 24px 0 0;
        width: 100%;
    }
    .future-wrap .section .text .eng {
        margin-bottom: 20px;
        line-height: 1.2;
        font-size: 30px;
    }
    .future-wrap .section .text .txt {
        margin-bottom: 30px;
        line-height: 1.5;
        font-size: 14px;
        word-break: keep-all;
    }
    .future-wrap .section .text .txt br {
        display: none;
    }
    .future-wrap .section .text .because {
    }
    .future-wrap .section .text .because dt {
        line-height: 1.5;
        font-size: 18px;
    }
    .future-wrap .section .text .because dd {
        margin-top: 8px;
        line-height: 1.5;
        font-size: 13px;
    }
    .future-wrap .section .image {
        width: 1000px;
    }
    .future-wrap .section .image ul {
        display: flex;
        flex-wrap: wrap;
    }
    .future-wrap .section .image li {
        width: 50%;
        aspect-ratio: 500/400;
        background: #ededed;
    }
    .future-wrap .section .image li:nth-child(1) {
        width: 100%;
        height: auto;
        aspect-ratio: 990/450;
    }
    .future-wrap .section .image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
