@charset "utf-8";

.inspiration-wrap {
}
.inspiration-wrap .section {
    padding: 215px 60px 150px;
}
.inspiration-wrap .section .image {
}
.inspiration-wrap .section .image ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 50px;
}
.inspiration-wrap .section .image li {
    position: relative;
    aspect-ratio: 408/553;
    background: #d9d9d9;
    overflow: hidden;
}
.inspiration-wrap .section .image li .img {
    position: relative;
    z-index: 1;
}
.inspiration-wrap .section .image li .img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inspiration-wrap .section .image li .dim {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.inspiration-wrap .section .image li .dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b2e2a4;
    opacity: 0.65;
    transition: all 300ms;
}
.inspiration-wrap .section .image li .dim:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    transition: all 300ms;
}
.inspiration-wrap .section .image li .txt {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transform: translateY(100%);
    transition: all 300ms;
    opacity: 0;
    word-break: keep-all;
}
.inspiration-wrap .section .image li:hover .dim:before {
    opacity: 0;
}
.inspiration-wrap .section .image li:hover .dim:after {
    opacity: 0.65;
}
.inspiration-wrap .section .image li:hover .txt {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 768px) and (max-width: 1279px) {
    .inspiration-wrap {
    }
    .inspiration-wrap .section {
        padding: 100px 30px;
    }
    .inspiration-wrap .section .image {
    }
    .inspiration-wrap .section .image ul {
        gap: 15px;
    }
}
@media (max-width: 767px) {
    .inspiration-wrap {
    }
    .inspiration-wrap .section {
        padding: 20px;
    }
    .inspiration-wrap .section .image {
    }
    .inspiration-wrap .section .image ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
