@charset "utf-8";

.present-wrap {
}
.present-wrap .section {
    display: flex;
    flex-direction: column;
    padding: 160px 60px 70px;
}
.present-wrap .section .text {
    padding: 38px 0 0;
    display: flex;
    flex-direction: column;
}
.present-wrap .section .text .eng {
    margin-bottom: 45px;
    line-height: 1;
    font-size: 80px;
    font-weight: 700;
    color: #5c6266;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.026em;
}
.present-wrap .section .text .tit {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 26px;
    font-weight: 600;
    color: #526266;
}
.present-wrap .section .text .txt {
    margin-bottom: 15px;
    height: 120px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #5c6266;
    width: 940px;
    max-width: 100%;
}
.present-wrap .section .image {
}
.present-wrap .section .image ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.present-wrap .section .image li {
    position: relative;
    aspect-ratio: 1/1;
    background: #ededed;
}
.present-wrap .section .image li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b2e2a4;
    opacity: 0.65;
    transition: all 300ms;
}
.present-wrap .section .image li:hover:before {
    opacity: 0;
}
.present-wrap .section .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .present-wrap {
    }
    .present-wrap .section {
        padding: 100px 30px 40px;
    }
    .present-wrap .section .text {
        padding: 24px 0 0;
    }
    .present-wrap .section .text .eng {
        margin-bottom: 30px;
        line-height: 1.2;
        font-size: 60px;
    }
    .present-wrap .section .text .tit {
        margin-bottom: 10px;
        line-height: 1.5;
        font-size: 22px;
    }
    .present-wrap .section .text .txt {
        height: 120px;
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 15px;
    }
    .present-wrap .section .image {
    }
    .present-wrap .section .image ul {
        gap: 15px;
    }
}
@media (max-width: 767px) {
    .present-wrap {
    }
    .present-wrap .section {
        padding: 40px 20px;
    }
    .present-wrap .section .text {
        padding: 24px 0 0;
    }
    .present-wrap .section .text .eng {
        margin-bottom: 20px;
        line-height: 1.2;
        font-size: 30px;
    }
    .present-wrap .section .text .tit {
        margin-bottom: 10px;
        line-height: 1.5;
        font-size: 20px;
    }
    .present-wrap .section .text .txt {
        margin-bottom: 30px;
        line-height: 1.5;
        font-size: 14px;
        word-break: keep-all;
        height: auto;
    }
    .present-wrap .section .text .txt br {
        display: none;
    }
    .present-wrap .section .image {
    }
    .present-wrap .section .image ul {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}
